<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
<h2> Админка </h2>
{% block menu %}
<div class="myadmin_container admin_menu">
    {% include 'myadmin/includes/inc_menu.html' %}
</div>
{% endblock %}


{% block content %}

{% endblock %}

</body>
</html>