{% extends 'myadmin/base.html' %}
{% load staticfiles %}


{% block content %}
<div class="myadmin_container user_delete">
    Уверены, что хотите удалить <b>{{ object.username }}</b>{% if object.first_name %}
    ({{ object.first_name|title }}
    {% if object.last_name %}
    {{ object.last_name|title }}
    {% endif %})
    {% endif %}?
    <form action="{% url 'myadmin:user_delete' object.pk %}" method="post">
        {% csrf_token %}
        <input class="btn" type="submit" value="Удалить">
    </form>
    <a class="btn" href="{% url 'myadmin:users' %}">Отмена</a>
</div>
{% endblock %}